/* Global styles */
* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  background: #f8f9fa;
  color: #343a40;
}

h1, h2, p {
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 24px;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s;
}

nav ul li a:hover {
  background: #0056b3;
}

main {
  margin-top: 100px;
  padding-top: 100px; /* Menambah padding untuk mengkompensasi header tetap */
  padding: 20px 40px;
}

section {
  padding: 20px 0;
}

article, aside {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
  margin-bottom: 20px;
}

article {
  flex: 3;
  margin-right: 20px;
}

aside {
  flex: 1;
}

aside img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.makanan-khas{
  display: flex;
  flex-direction: row;

}

footer {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  header {
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
  }
  header h1 {
    margin: 0;
    font-size: 10px;
  }

  nav ul {
      flex-direction: column;
      width: 100%;
  }

  nav ul li {
      margin: 5px 0;
  }

  main {
      padding: 20px;
      padding-top: 120px;
  }

  article, aside {
      margin-right: 0;
      flex: 1 100%;
  }
}
